html {
    font-family: "Calibri";
    font-size: 25;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    background-color: rgb(150, 60, 150);
    border-radius: 10px;
}

input {
    background-color: white;
    font-size: 25;
    width: 450px;
    margin: 15px;
}
